@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Varela Round", sans-serif;
  outline: none;
}

body {
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

h1 {
  margin-bottom: 1.5rem;
}

.app {
  background-color: white;
  border-radius: 5px;
  width: 350px;
  padding: 1.8rem 3rem;
}

.placeholder {
  text-align: center;
  color: gray;
  padding-top: 8rem;
}

.list {
  margin-top: 1.5rem;
  list-style: none;
  text-align: start;
  min-height: 30vh;
}

.list li {
  display: flex;
  justify-content: space-between;
  margin: 0.8rem 0;
  font-size: 1.2rem;
  position: relative;
}

.list li p {
  width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.list li div {
  display: flex;
  align-items: center;
  gap: 5px;
}

.list li button {
  border: 0.5px solid black;
  padding: 6px;
  background-color: rgba(218, 213, 213, 0.2);
  border-radius: 50px;
  font-size: 0.5rem;
  cursor: pointer;
}

.underline {
  text-decoration: line-through;
  color: gray;
  transition: all 0.3s ease-in;
}

.input input {
  font-size: 1.1rem;
  padding: 8px;
  width: 80%;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.15);
  transition: background-color 0.5s ease, border 0.5s ease;
}

.input input:focus {
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.input button {
  width: 55px;
  height: 55px;
  border-radius: 50px;
  border: none;
  background-color: rgb(52, 222, 52);
  margin-left: -20px;
  cursor: pointer;
  font-size: 1.2rem;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5rem;
  margin-top: 1.2rem;
  border-radius: 16px;
  background-color: rgb(250, 201, 201);
}

.actions button {
  font-size: 1.2rem;
  width: 50px;
  height: 50px;
  border-radius: 8px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
